
@{
    ViewBag.Title = "Index";
    Layout = null;
    List<TSJCommunication.Models.Polls> polls = (List<TSJCommunication.Models.Polls>)ViewBag.Polls;
}


<h2>POLLS</h2>

<div style="padding-top:100px; padding-bottom: 100px;">
    <a href="/Polls/Add">NEW POLL</a>
</div>

@foreach (var poll in polls)
{
    <div>
        <a href="/Polls/Vote/@poll.Id">@poll.Title</a>
    </div>
}

